<a class="menu-toggle rounded" href="#"><i class="fas fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-nav-item"><a routerLink="/home" onclick="document.querySelector('.menu-toggle.rounded.active').click()" routerLinkActive="active-menu">Home</a></li>
        <li class="sidebar-nav-item"><a routerLink="/sobre"onclick="document.querySelector('.menu-toggle.rounded.active').click()" routerLinkActive="active-menu">About</a></li>
        <li class="sidebar-nav-item"><a routerLink="/formulario" onclick="document.querySelector('.menu-toggle.rounded.active').click()"routerLinkActive="active-menu">Formulario</a></li>
    </ul>
</nav>